
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Bienvenido</h2>
<hr/>
<p>
    Este es un Sistema parcial de nomina, el cual cuenta con los modulos de Empleado, Nomina y un extra que cuenta con una calculadora sencilla y un conversor de unidades.
</p>

<br/>
<p>
    Para empezar a probar dirigete al side menu y selecione el modulo que desea probar...
</p>
<br/>
<h3>
    Detalles del Sistema
</h3>
<ol>
    <li>Lenguaje de Programacion: C#</li>
    <li>Base De datos: SQLServer</li>
    <li>Otros
        <ul>
            <li>MVC</li>
            <li>Entity Framework</li>
        </ul>
    </li>
</ol>


